---
import background from '../assets/background.svg';
import Navbar from '../components/Navbar.astro';
import '../styles/global.css';

const metadata = {
  title: 'Kobalt',
  description: 'Convert YouTube videos into Spotify compatible local files',
  image: '/poster.png',
};
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="Kobalt" />
    <title>{metadata.title}</title>

    <meta property="og:title" content={metadata.title} />
    <meta
      name="description"
      property="og:description"
      content={metadata.description}
    />
    <meta property="og:image" content={metadata.image} />

    <meta name="twitter:title" content={metadata.title} />
    <meta name="twitter:description" content={metadata.description} />
    <meta name="twitter:image:src" content={metadata.image} />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="author" content="Maximilian Hagelstam" />
    <meta name="copyright" content="MIT" />
  </head>
  <body class="bg-white">
    <img id="background" src={background.src} alt="" fetchpriority="high" />
    <div
      class="fixed inset-0 -z-10 bg-transparent bg-[radial-gradient(#e5e7eb_1px,transparent_1px)] [background-size:16px_16px]"
    >
    </div>
    <Navbar />
    <main class="flex min-h-screen flex-col gap-y-12 p-4 pt-32 antialiased">
      <slot />
    </main>
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }

  #background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    filter: blur(100px);
  }
</style>
